/* 
.projects-container {
    width: 100%;
    height:100%;

} */

.projects-container {
    width: 100%;
    height: 100vh;
}


.cards-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
    margin-bottom: 80px;
}

.showcase-intro {
    width: 60%;
    margin-top: 120px;
    margin-left: 8%;
}

.projects-card {
    width: 350px;
    text-align: center;
    box-shadow: 0px 20px 20px 10px rgba(0, 0, 0, 0.2);
    height: fit-content;
    border: none;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 16px;
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.7px);
    height: 300px;
}

.projects-card:hover {
    transform: scale(0.98);


}

.project-picture {
    width: 100%;
    border-radius: 16px 16px 0 0;
    cursor: pointer;

}

.letras-card-container {
    text-align: center;
    padding: 5%;
}