.menu {

  margin: 0 68%;
  position: absolute;
  width: 200px;
  list-style: none;
  cursor: pointer;

  
}

.menu > li > a {
  background: #000;
  color: #fff;
  display: block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  
  
}

.menu ul {
  background: rgba(210, 220, 255, 0.13);
  
  height: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: all .5s ease;
  top: 35px;
  width: 100%;
  list-style: none;
  
}

.menu li:hover ul {
  height: 100px;
  opacity: 1;
  transform: translateY(0);
}

.menu ul a {
  
  display: block;
  padding: 7px 20px;
  text-decoration: none;
  color: #fff;
}

.material-symbols-outlined {
  font-size: medium;
}

.dropdown-options{
  margin-top: 5px;
}