* {
  margin: 0;
  padding: 0;

}

.diego-box {
 

 




}



.diego-cano-container {
  /* width: 60%;
  height: 400px;
  margin: 8% 5%;*/
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: end;
 
}

.both-lyrics{
  /*margin-top: 32%;
  margin-left: 10%;*/
  width: 300px;
  height: 200px;
  margin-left: 10%;
  text-align: end;

}

.diego-cano-name {

  /*top: 70%;

  left: 25%;
  margin-right: -75%;
  transform: translate(-50%, -50%);
  color: white;*/
  font-family: 'Megrim', cursive;
  font-size: 350%;
 
}

.frontend {
  color: white;
  
  
  /*top: 77%;

  left: 29%;
  margin-right: -75%;
  transform: translate(-50%, -50%);*/
}