.loader {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 60%;
    background: linear-gradient(45deg, transparent,
            transparent 40%, #f31606);
    animation: animate 0.5s linear infinite;



}

@keyframes animate {
    0% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

.loader::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: #000;
    border-radius: 50%;
    z-index: 1000;

}

.loader::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(45deg, transparent,
            transparent 40%, #834252);
    border-radius: 50%;
    z-index: 1000;
    z-index: 1;
    filter: blur(30px);

}