.media-tech-container {
    width: 100%;
    height: 100vh;
}


.media-tech-intro {
    width: 60%;
    margin-top: 120px;
    margin-left: 8%;
}

.cards-media-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
}


.tech-card {
    width: 160px;
    text-align: center;
    box-shadow: 0px 20px 20px 10px rgba(0, 0, 0, 0.2);
    height: 120px;
    text-align: center;
    padding: 1%;

    background: rgba(255, 255, 255, 0.13);
    border-radius: 16px;
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.7px);
}


.tech-card:hover {
    transform: scale(0.98);

}

.icons-card-container {
    display: flex;
    font-size: 100px;
    justify-content: center;
    text-align: center;
}

.media-card {
    width: 160px;
    text-align: center;
    box-shadow: 0px 20px 20px 10px rgba(0, 0, 0, 0.2);
    height: 120px;
    text-align: center;
    padding: 1%;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 16px;
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.7px);  
    width: 500px;
}

.icons-media-container {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    gap: 9%;
    padding: 3%;
}

.fa-brands{
    cursor: pointer;
    color: white;
}

@media(min-width: 1634px) {
    .cards-media-container {
            display: flex;
            justify-content: center;
            gap: 30px;
            flex-wrap: wrap;
            width: 64%;
        }
}