*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0F2027;
    color: white;
    font-family: 'Megrim', cursive;
}


img {
    width: 100%;
  }


.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }